<div class="home_main">
    <div class="home_title">
        <h3>Bienvenidos a la tarea 3 del curso de Angular de la Univerdidad Creativa.</h3>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/assets/2.png" class="img-fluid rounded-start" alt="Angular">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Desarrollo de paginas web con Angular</h5>
                    <p class="card-text">Angular es un Framework de JavaScript de código abierto escrito en TypeScript.
                        Su objetivo principal es desarrollar aplicaciones de una sola página. Google se encarga del
                        mantenimiento y constantes actualizaciones de mejoras para este framework.</p>
                    <p class="card-text"><small class="text-muted">
                            Angular es uno de los frameworks Javascript más utilizados para crear aplicaciones
                            Web</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="home_main_2">
    <h5 class="home_title">Algunas de las aplicaciones de empresas cradas con Angular en el mundo web!</h5>
    <div class="card-group home_main_card">
        <div class="card">
            <img src="/assets/bmw.png" class="card-img-top imagen" alt="BMW">
            <div class="card-body">
                <h5 class="card-title">B.M.W.</h5>
                <p class="card-text">Una de las marcas mas reconocidas del mundo automovilistico.</p>
                <p class="card-text"><small class="text-muted">Mi favorita!</small></p>
            </div>
        </div>
        <div class="card">
            <img src="/assets/nike.jpeg" class="card-img-top imagen" alt="NIKE">
            <div class="card-body">
                <h5 class="card-title">Nike</h5>
                <p class="card-text">La marca mas vendida en el mundo de la ropa deportiva.</p>
                <p class="card-text"><small class="text-muted">La favorita de todos</small></p>
            </div>
        </div>
        <div class="card position">
            <img src="/assets/db.png" class="card-img-top imagen" alt="Deutsche Bank">
            <div class="card-body">
                <h5 class="card-title">Deutsche Bank</h5>
                <p class="card-text">De los bancos alemanes mas grandes del pais.</p>
                <p class="card-text texto"><small class="text-muted">Mi ahorros estan seguros!</small></p>
            </div>
        </div>
    </div>
</div>