<div *ngFor="let item of Subject">
    <h4 *ngIf="item">{{item.titulo}}</h4>
    <h5 *ngIf="item"> {{item.detalle}}</h5>
    <p *ngIf="item"> {{item.lenguajes}}</p>
    <p *ngIf="item">{{item.frameworks}}</p>
    <p *ngIf="item"> {{item.librerias}}</p>
</div>
<div *ngFor="let item of Subject" id="imagen">
    <img *ngIf="element==true" [src]="item.imagen" alt="imagen">
</div>
<div>
    <button *ngIf="element==true" (click)="imagen()">Ocultar imagen</button>
    <button *ngIf="element==false" (click)="imagenM()">Mostrar imagen</button>
</div>