
<div class="imagen">
  <img src="/assets/contact.jpeg" alt="imagen">
</div>
<div>
<h5>Formulario de contacto</h5>
<form class="row g-3 needs-validation" novalidate="">
    <div class="col-md-4 position-relative">
      <label for="validationTooltip01" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="validationTooltip01" placeholder="Jason" required="si">
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 position-relative">
      <label for="validationTooltip02" class="form-label">Apellido</label>
      <input type="text" class="form-control" id="validationTooltip02" placeholder="Castro" required="">
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 position-relative">
      <label for="validationTooltipUsername" class="form-label">E-mail</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
        <input type="text" class="form-control" id="validationTooltipUsername" aria-describedby="validationTooltipUsernamePrepend" required="">
        <div class="invalid-tooltip">
        </div>
      </div>
    </div>
    <div class="col-md-6 position-relative">
      <label for="validationTooltip03" class="form-label">Direccion</label>
      <input type="text" class="form-control" id="validationTooltip03" required="">
      <div class="invalid-tooltip">
        Please provide a valid city.
      </div>
    </div>
    <div class="col-md-3 position-relative">
      <label for="validationTooltip04" class="form-label">Provincia</label>
      <select class="form-select" id="validationTooltip04" required="">
        <option selected="Alajuela" disabled="" value="">Elige...</option>
        <option>Alajuela</option>
        <option>San Jose</option>
        <option>Cartago</option>
      </select>
      <div class="invalid-tooltip">
        Please select a valid state.
      </div>
    </div>
    <div class="col-md-3 position-relative">
      <label for="validationTooltip05" class="form-label">Whatsapp</label>
      <input type="text" class="form-control" id="validationTooltip05" required="">
      <div class="invalid-tooltip">
        Please provide a valid zip.
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit" (click)="enviar()">Enviar</button>
    </div>
  </form>
</div>