/* You can add global styles to this file, and also import other style files */
.main{
    display: flex;
    justify-content: center;
}

.secondary{
    width: 80%;
    height: auto;
}

body{
    box-sizing: content-box;
}